:root {
  --white: #ffff;
  --yellow: yellow;
  --red: red;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal formatting */
li {
  list-style-type: none;
}

a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: var(--yellow);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 10px;
}

header {
  height: 80px;
  background-color: var(--red);
}

.d-flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;
  padding: 10px 0;
}

.logo-img {
  width: 70px;
}

.g-10 {
  gap: 10px;
}

.logo {
  width: 200px;
}

.logo-title {
  color: var(--white);
}

.my-20 {
  margin-block: 20px;
}

.btn {
  padding: 10px 30px;
  margin-block: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--white);
  font-size: 1.2rem;
}

.rocket-reserve {
  background-color: var(--red);
}

.rocket-unreserve {
  background-color: gray;
  color: var(--black);
}

.rocket-name {
  margin-block: 10px;
}

.reserved {
  background-color: var(--yellow);
  display: inline-block;
  color: var(--black);
}
